*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: gray;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
    
}
.nav-menu ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;

}
.nav-menu li a{
    text-decoration: none;
    color: black;
}
.bannar{
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}
 .bannar-info h1{
    font-size: 55px;
    font-weight: bold;
    color: white;
  
     
} 
.primary{
    color: red;
} 
.bannar-info p{
    color: white;
    padding:10px;
   
    width:50%;
    margin: auto;
}
.btn{
    padding: 12px 20px;
    border: none;
   
    }
    .bg-primary{
        background-color:red;
        color: white;

    }
    .bg-btn{
        margin-left: 10px;
    }
    .service-container{
        height: 100vh;
        background-image: url("./asset/image/footer-bg.png"),
        linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
        background-position: center;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
       
        /* text-align: center;  */
        color: white;
        display: flex;
        /* align-items: center; */
       padding: 20px;
    }
    .icon{
        width: 70px;
        margin-bottom: 20px;

    }
    .box{
        background-color: white;
        width: 200px;
        height: 200px;
        color: black;
        text-align: center;
        border-radius: 5px;
    }
    .service-details{
        width: 50%;
    }
    .frist-tow-box{
        display: flex;
        gap: 3px;
        margin-top: 5px;
    }
    .profile-img{
        width: 70px;
        height: 70px ;
        border-radius: 35px;
    }
    .profile-container{
        display: flex;
        gap: 20px;
        align-items: center;
        /* border-right: 2px solid red; */
       
    }
    .profile-title{
        
        border-right: 2px solid red;
        padding-right: 120px;

    }